<%- include('../partials/adminHeader.ejs') %>

<section class="flex justify-center pt-24">
  <div class="container">
    <div class="btn flex justify-center items-center">
      <a href="/addItem"
        ><button
          type="submit"
          class="justify-center rounded-full px-3 py-1.5 text-lg"
        >
          Add Item
        </button>
      </a>
    </div>

    <div class="btn flex justify-center items-center">
      <a href="/editPizza"
        ><button
          type="submit"
          class="justify-center rounded-full px-3 py-1.5 text-lg"
        >
          Edit
        </button>
      </a>
    </div>
  </div>
</section>
